/* fonts */
  @font-face {
    font-family: 'arialnarrow';
    src: url('../fonts/arial_narrow/arialn-webfont.eot');
    src: url('../fonts/arial_narrow/arialn-webfont.eot?#iefix') format('embedded-opentype'),
      url('../fonts/arial_narrow/arialn-webfont.woff2') format('woff2'),
      url('../fonts/arial_narrow/arialn-webfont.woff') format('woff'),
      url('../fonts/arial_narrow/arialn-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "ArialNarrowRegular";
    src: url("../fonts/ArialNarrowRegular/ArialNarrowRegular.eot");
    src: url("../fonts/ArialNarrowRegular/ArialNarrowRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowRegular/ArialNarrowRegular.woff") format("woff"),
    url("../fonts/ArialNarrowRegular/ArialNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "ArialNarrowBold";
    src: url("../fonts/ArialNarrowBold/ArialNarrowBold.eot");
    src: url("../fonts/ArialNarrowBold/ArialNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowBold/ArialNarrowBold.woff") format("woff"),
    url("../fonts/ArialNarrowBold/ArialNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "ArialNarrowItalic";
    src: url("../fonts/ArialNarrowItalic/ArialNarrowItalic.eot");
    src: url("../fonts/ArialNarrowItalic/ArialNarrowItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowItalic/ArialNarrowItalic.woff") format("woff"),
    url("../fonts/ArialNarrowItalic/ArialNarrowItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: "ArialNarrowBoldItalic";
    src: url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.eot");
    src: url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.woff") format("woff"),
    url("../fonts/ArialNarrowBoldItalic/ArialNarrowBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'ArialMT';
    src: url('../fonts/arialmt/ArialMT.eot?#iefix') format('embedded-opentype'),
      url('../fonts/arialmt/ArialMT.woff') format('woff'),
      url('../fonts/arialmt/ArialMT.ttf')  format('truetype'),
      url('../fonts/arialmt/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
  }


/* css reset */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

/* my styles */
  html, body{
    width:100%;
    height: 100%;
    background: url(../images/2.jpg)
  }

  .wrapper{
    margin: 0 auto;
    width: 980px;
    min-height: 1000px;
    background: rebeccapurple;
  }

  .header{
    height: 228px;
    width: 100%;
    background: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position: 523px 0;
    position: relative;
  }

  .top-buttoms{
    padding-left: 343px;

  }

  .top-buttom{
    text-align: center;
    padding: 6px 0px;
    width: 123px;
    margin: 0 1px;
    display: inline-block;
    background-image: linear-gradient(to top, #353535 0%, #484848 100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    color: #fffefe;
    font-family: "arialnarrow";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
  }

  .basket{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 67px;
    height: 55px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to top, #a8892b 0%, #bd9b36 25%, #bd9b36 100%);
    border-radius: 0 0 4px 4px;
    cursor: url(../images/hand.png), pointer;
    box-sizing: border-box;
  }

  .basket:before{
    content: "";
    display: block;
    width: 67px;
    height: 55px;
    background: url(../images/basket.png);
    background-repeat: no-repeat;
    background-position: 9px 6px;
  }

  .phone{
    position: relative;
    display: block;
    margin:  44px 0 50px 346px;
    color: #fffefe;
    font-family: "arialnarrow";
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.6px;
    cursor: url(../images/hand.png), pointer;
  }

  .phone:before{
    content: "";
    display: block;
    width: 40px;
    height: 42px;
    background: url(../images/phone.png);
    position: absolute;
    left: -55px;
    bottom: 0px;
  }
 
  .search{
    margin-left: 224px;
    width: 370px;
    height: 40px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to top, #353535 0%, #484848 100%);
    margin-bottom: 5px;
    border-radius: 7px 7px 0 0 ;
  }

  .search input[type="search"]{
    
    margin: 7px 136px 6px 8px;
    width: 226px;
    height: 27px;
    border: 1px solid #969696;
    background-color: #606060;
    box-sizing: border-box;
    padding-left:30px;
  }

  .search input[type="search"]:focus{
    outline: none;
    
  }

  .search button{
    width: 106px;
    height: 29px;
    border: 1px solid #000000;
    background-color: #ba9835;
    position: absolute;
    top: 6px;
    right: 17px;
    color: #fffefe;
    font-family: "arialnarrow";
    font-size: 14px;
    font-weight: 700;
    cursor: url(../images/hand.png), pointer;
    box-sizing: border-box;
  }

  .search button:focus{
    outline: none;
  }

  .main-menu{
    margin-left: 183px;
    text-align: right;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to top, #1e1e1e 0%, #303030 100%);
    border-radius: 0 0 7px 7px;
    padding: 0 21px 0 95px;
    box-sizing: border-box; 
  }

  .main-menu li{
    display: inline-block;

  }

  .in-main-menu{
    display: block;
    padding: 13px 7px 14px 7px;
    color: #fffefe;
    font-family: "ArialNarrowBold";
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.35px;
  }

  .in-main-menu:hover{
    padding-bottom: 19px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to top, #a8892b 0%, #bd9b36 25%, #bd9b36 100%);
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;

  }

  .active{
    padding-bottom: 19px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    background-image: linear-gradient(to top, #a8892b 0%, #bd9b36 25%, #bd9b36 100%);
    border-radius: 0 0 4px 4px;

  }
  
  .logo{
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: -14px;
    /* background: rgba(255, 217, 0, 0.356); */
    width: 273px;
    height: 196px;

  }
  .logo-img{
    position: absolute;
    z-index: 2;
    display: block;
    left: 26px;
    bottom: 4px;
  }

  .logo-bg{
    position: absolute;
    bottom: 0;
    right: 33px;
    width: 300px;
    height: 118px;
    transform: skewX(-33deg);
    overflow: hidden;
    box-shadow: 3px 0 4px #000000;
    border-radius: 0 8px 0 0;
    /* transform: rotate(33deg); */
  }

  .logo-bg:before{
    position: absolute;
    left: 60px;
    content: "";
    display: block;
    width: 273px;
    height: 118px;
    border: 1px solid #debe5d;
    background-color: #c0a040;
    background-image: linear-gradient(to top, #b19234 0%, #b19234 40%, #c0a040 100%);
    border-radius: 18px 8px 18px 18px;;
    transform: skewX(33deg);
    box-sizing: border-box;
    
    /* transform: rotate(-33deg); */
  }

  .banner{
    margin-top: 46px;
    height: 231px;
    background: #1d1d1d;
    border: 10px solid #616161;
    box-shadow: 0 0 4px #000000;
    border-radius: 12px;
    position: relative;
  }

  .picture{
    border-radius: 20px;
    width: 960px;
    height: 231px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
  }

  .banner-arrow{
    display: block;
    position: absolute;
    width: 25px;
    height: 50px;
    border: 1px solid #000000;
    background-color: #ba9835;
    top:50%;
    margin-top: -25px;
    z-index: 1;
  }

  .banner-arrow:before{
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    transform: rotate(45deg);
    top:18px;
    left:10px;
  }

  .arrow-left{
    left:-17px;
  }

  .arrow-right{
    right: -20px;
    transform: rotate(180deg);
  }


  .content-menu{
    margin-top: 33px;
    margin-left: 39px;
    width: 727px;
    height: 33px;
    background-image: linear-gradient(to top, #b19234 0%, #b19234 40%, #c0a040 100%);
    border-radius: 18px 18px 0 0;
    overflow: hidden;

  }

  .content-menu li{
    float: none;
    border: none;
    box-shadow: none;
    display: inline-block;
    margin: 0;
  }

  .content-menu-item{
    display:block;
    text-shadow: 0 0 6px rgba(133, 107, 33, 0.75);
    background-image: linear-gradient(to top, #b19234 0%, #b19234 40%, #c0a040 100%);
    
    padding: 9px 35px;
    border-left: 4px solid #6c685c;
    transform: skewX(-33deg); 
  }

  .content-menu-item p{
    display: block;
    transform: skewX(33deg);
    color: #fffefe;
    font-family: "arialnarrow";
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none; 
    text-shadow: 0 0 6px rgba(133, 107, 33, 0.75);
  }

  .content{
    position: relative;
    padding: 30px 0 0 30px;
    background: #1d1d1d;
    border: 10px solid #616161;
    box-shadow: 0 0 4px #000000;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;

  }

  .clear:after{
    content: "";
    clear: both;
    display: block;
  }

  .clear li{
    float: left;
    display: block;
    margin: 0 15px 15px 0;
    overflow: hidden;
  }

  .item{
    width: 138px;
    height: 138px;
    cursor: url(../images/hand.png), pointer;
    display: table-cell;
    vertical-align: middle;
    background: white;
    border: 1px solid #838282;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 4px #666666;
  }

  .name{
    display: block;
    width: 136px;
    text-shadow: 3px 4px 5px #000000, 0 0 18px rgba(0, 0, 0, 0.75);
    color: #bd9b36;
    font-family: "arialnarrow";
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.35px;
    transform: rotate(-45deg);
    text-decoration: none;
    line-height: 0.7;
  }

  a:-webkit-any-link{
    text-decoration: none;
  }

  #item1{
    background: url(../images/spritemenu.png);
    background-position: 2px 3px;
  }

  #item2{
    background: url(../images/spritemenu.png);
    background-position: -151px 3px;
  }

  #item3{
    background: url(../images/spritemenu.png);
    background-position: -304px 3px;
  }

  #item4{
    background: url(../images/spritemenu.png);
    background-position: -457px 3px;
  }

  #item5{
    background: url(../images/spritemenu.png);
    background-position: -610px 3px;
  }

  #item6{
    background: url(../images/spritemenu.png);
    background-position: -763px 3px;
  }

  #item7{
    background: url(../images/spritemenu.png);
    background-position: 2px -152px;
  }

  #item8{
    background: url(../images/spritemenu.png);
    background-position: -151px -152px;
  }

  #item9{
    background: url(../images/spritemenu.png);
    background-position: -304px -152px;
  }

  #item10{
    background: url(../images/spritemenu.png);
    background-position: -457px -152px;
  }

  #item11{
    background: url(../images/spritemenu.png);
    background-position: -610px -152px;
  }

  #item12{
    background: url(../images/spritemenu.png);
    background-position: -763px -152px;
  }

  #item13{
    background: url(../images/spritemenu.png);
    background-position: 2px -307px;
  }

  #item14{
    background: url(../images/spritemenu.png);
    background-position: -151px -307px;
  }

  #item15{
    background: url(../images/spritemenu.png);
    background-position: -304px -307px;
  }

  #item16{
    background: url(../images/spritemenu.png);
    background-position: -457px -307px;
  }

  #item17{
    background: url(../images/spritemenu.png);
    background-position: -610px -307px;
  }

  #item18{
    background: url(../images/spritemenu.png);
    background-position: -763px -307px;
  }


  h2{
    margin-top: 16px;
    margin-left: 2px;
    margin-bottom: 12px;
    width: 141px;
    height: 21px;
    color: #3ec1f8;
    font-family: "ArialMT";
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.55px;
  }

  .hits{
    position: relative;
    background: #333333;
    padding: 16px 16px 0 16px;
    width: 903px;
    border: 1px solid #838282;
    box-sizing: border-box;
  }

  .hits li{
    padding: 14px 10px 20px 14px;
    display: inline-block;
    font-size: 0;
    /* background: red; */
  }

  .img{
    display: block;
    height: 121px;
    width: 179px;
    background: #666666;
    border: 5px solid #666666;
    overflow: hidden;
  }

  li form{
    display: inline-block;
    height: 328px;
    width: 189px;
    /* background: rgb(40, 180, 56); */
  }

  li form:focus{
    outline: none;
  }

  form h3{
    color: #dbdb13;
    font-family: "arialnarrow";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.45px;
    margin: 10px 1px;
  }

  form p{
    color: #ffffff;
    font-family: "arialnarrow";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    
  }

  .description{
    height: 67px;
    overflow: hidden;
  }

  .row{
    margin: 18px 0;
  }

  .row input[type="text"]{
    display: inline-block;
    height: 23px;
    width: 47px;
    color: #000000;
    font-family: "ArialMT";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    box-sizing: border-box;
    border: 1px solid #969696;
    text-align: right;
    padding: 0 5px;
  }

  .row input[type="text"]:focus{
    outline: none;
  }

  .qty{
    display: inline-block;
    margin: 8px 10px 7px 5px;
  }

  .row select{
    width: 67px;
    height: 23px;
    border: 1px solid #969696;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-left: 10px;
    color: #000000;
    font-family: "Arial MT";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 0 5px;
  }

  .row select:focus{
    outline: none;
  }

  .size{
    display: inline-block;
    margin: 6px 0 5px 5px;
  }

  .prise{
    display: inline-block;
    color: #ba9835;
    font-family: "arialnarrow";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .prise>span{
    font-size: 14px;
    letter-spacing: 0.35px;
  }

  .bay{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    height: 25px;
    width: 100px;
    border-radius: 5px;
    color: #c39b25;
    font-family: "ArialMT";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    background-image: url(../images/buttonbg.png);
    background-position: -2px -2px;
    margin-left: 35px;
  }

  .bay:focus{
    outline: none;
  }

  .goods-arrow-left{
    left:-14px;
    top: 87px;
  }

  .goods-arrow-right{
    right: -14px;
    transform: rotate(180deg);
    top: 87px;
  }

  .new-title{
    padding:12px 0 2px 0;
  }

  
  

